
@import 'variables';

@mixin input-text($color: light) {
  background-color: transparent !important;
  box-shadow: none !important;

  padding: 5px 10px !important;

  @if $color == dark {
    border: 2px solid $dark-color !important;
  } @else {
    border: 2px solid $light-color !important;
  }

};

input[type=text], textarea {
  @include input-text();
}