
@import 'reset';

@import 'variables';

@import 'general';

@import 'header';
@import 'sidebar';

html {
  font-size: 11px !important;
}

body {
  padding: 0 !important;
  padding-top: $header-height !important;
  padding-right: $sidebar-padding + $sidebar-margin !important;
}